<?xml version = "1.0" encoding = "UTF-8"?>
<suite name = "Simple HTML-XML Suite">

    <test name = "Simple HTML-XML test">
        <parameter name="username" value="Admin" />
        <parameter name="password" value="admin123" />
        <parameter name="expectedUserName" value="Test12 Nav" />
        <classes>
            <class name = "Tests.LoginTest" />
        </classes>
    </test>
</suite>